.cm-tabcolor-row {

}
.cm-tabcolor-header {
	font-weight: bolder;
}
.cm-tabcolor-col1 {
	background-color: transparent !important;
	color: #0e6efd !important;
}
.cm-tabcolor-col2 {
	background-color: transparent !important;
	color: #ffc108 !important; 
}
.cm-tabcolor-col3 {
	background-color: transparent !important;
	color: #dc3545 !important;
}
.cm-tabcolor-col4 {
	background-color: transparent !important;
	color: #0dcaf0 !important;
}
.cm-tabcolor-col5 {
	background-color: transparent !important;
	color: #198754 !important;
}
.cm-tabcolor-col6 {
	background-color: transparent !important;
	color: #212529 !important;
}
.cm-tabcolor-col7 {
	background-color: transparent !important;
	color: #0e6efd !important;
}
.cm-tabcolor-col8 {
	background-color: transparent !important;
	color: #ffc108 !important;
}
.cm-tabcolor-col9 {
	background-color: transparent !important;
	color: #dc3545 !important;
}