
.cm-tabcolor-row {

}
.cm-tabcolor-header {
	font-weight: bolder;
}
.cm-tabcolor-col1 {
	background-color: rgba(14, 110, 253, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col2 {
	background-color: rgba(255, 193, 8, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col3 {
	background-color: rgba(220, 53, 69, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col4 {
	background-color: rgba(13, 202, 240, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col5 {
	background-color: rgba(25, 135, 84, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col6 {
	background-color: rgba(112, 133, 153, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col7 {
	background-color: rgba(14, 110, 253, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col8 {
	background-color: rgba(255, 193, 8, 0.1) !important;
	color: #212529 !important;
}
.cm-tabcolor-col9 {
	background-color: rgba(220, 53, 69, 0.1) !important;
	color: #212529 !important;
}
