.cm-tabcolor-row {

}
.cm-tabcolor-header {
	font-weight: bolder;
}
.cm-tabcolor-col1 {
	background-color: #0e6efd;
	color: white;
}
.cm-tabcolor-col2 {
	background-color: #ffc108;
	color: #212529;
}
.cm-tabcolor-col3 {
	background-color: #dc3545;
	color: white;
}
.cm-tabcolor-col4 {
	background-color: #0dcaf0;
	color: #212529;
}
.cm-tabcolor-col5 {
	background-color: #198754;
	color: white;
}
.cm-tabcolor-col6 {
	background-color: #f8f9fa;
	color: #212529;
}
.cm-tabcolor-col7 {
	background-color: #0e6efd;
	color: white;
}
.cm-tabcolor-col8 {
	background-color: #ffc108;
	color: #212529;
}
.cm-tabcolor-col9 {
	background-color: #dc3545;
	color: white;
}